################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MauiXamlTestApp/.vs
/MauiXamlTestApp/bin/Debug/net8.0-android
/MauiXamlTestApp/obj
